<h1>Payment</h1>

<p>
  A <%= @duration %> year loan of $<%= @amount %>, with an annual interest rate of <%= ((@int_rate.to_f)/100).round(1) %>%, requires a montly payment of $<%= @payment %>.
</p>
